@model DummyProjectMVC.ViewModels.StudentAddressViewModel
    

<body>
    <h2>StudentAddress Details from ViewModel</h2>
    <div>
        Stident Id : @Model.Student.StudentId
    </div>
    <div>
        Stident Name : @Model.Student.StudentName
    </div>
    <div>
        Stident Age : @Model.Student.Age
    </div>
    <div>
        Address Id : @Model.Address.AddressID
    </div>
    <div>
        City : @Model.Address.City
    </div>
    <div>
        Student Status : @Model.StudentStatus
    </div>
</body>
